.md-whiteframe-z3 {
  background: #fff;
  margin: 5px 10px;
  padding: 20px;
}

.center {
  text-align: center;
  margin:0 auto;
}

span.right {
  margin: 0 10px 0 0;
  text-align: right;
}


md-whiteframe {
  margin: 10px;
}

.md-button {
  line-height: 25px;
}

.md-fab {
  position:relative;
  left: 940px;
}
