<!doctype html>
<html lang="en" ng-app="sgsRecorder">
<head>
  <meta charset="utf-8">
  <title>AngularJS</title>
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/hammerjs/hammer.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="js/app.js"></script>
</head>
<body ng-controller="main">

<div layout="column" layout-fill>
  <md-content>

    <md-toolbar class="center md-primary md-hue-3">
      <h2>
        <span class="center">基本牌</span>
      </h2>
    </md-toolbar>
    <div layout="row">
      <md-whiteframe class="md-whiteframe-z2" layout="row" layout-align="center center" flex>
        <md-toolbar class="md-accent" ng-class="{'md-warn': !card[0]}" layout="row" layout-align="center center">
          <md-button ng-click="refresh(0)"  flex>杀</md-button>
          <span class="right" flex>{{card[0]}}/30<span>
        </md-toolbar>
      </md-whiteframe>
      <md-whiteframe class="md-whiteframe-z2" layout="row" layout-align="center center" flex>
        <md-toolbar class="md-accent" ng-class="{'md-warn': !card[1]}" layout="row" layout-align="center center">
          <md-button ng-click="refresh(1)" flex>闪</md-button>
          <span class="right" flex>{{card[1]}}/24<span>
        </md-toolbar>
      </md-whiteframe>
      <md-whiteframe class="md-whiteframe-z2" layout="row" layout-align="center center" flex>
        <md-toolbar class="md-accent" ng-class="{'md-warn': !card[2]}" layout="row" layout-align="center center">
          <md-button flex>桃</md-button>
          <span class="right" flex>{{card[2]}}/12<span>
        </md-toolbar>
      </md-whiteframe>
    </div>
    <div layout="row">
      <md-whiteframe class="md-whiteframe-z2" layout="row" layout-align="center center" flex>
        <md-toolbar class="md-accent" ng-class="{'md-warn': !card[3]}" layout="row" layout-align="center center">
          <md-button flex>雷 杀</md-button>
          <span class="right" flex>{{card[3]}}/9<span>
        </md-toolbar>
      </md-whiteframe>
      <md-whiteframe class="md-whiteframe-z2" layout="row" layout-align="center center" flex>
        <md-toolbar class="md-accent" ng-class="{'md-warn': !card[4]}" layout="row" layout-align="center center">
          <md-button flex>火 杀</md-button>
          <span class="right" flex>5/{{card[4]}}<span>
        </md-toolbar>
      </md-whiteframe>
      <md-whiteframe class="md-whiteframe-z2" layout="row" layout-align="center center" flex>
        <md-toolbar class="md-accent" ng-class="{'md-warn': !card[5]}" layout="row" layout-align="center center">
          <md-button flex>酒</md-button>
          <span class="right" flex>{{card[5]}}/5<span>
        </md-toolbar>
      </md-whiteframe>
    </div>

    <md-toolbar class="md-primary md-hue-3 center">
      <h2>
        <span class="center">锦囊牌</span>
      </h2>
    </md-toolbar>
    <div layout="row">
      <md-whiteframe class="md-whiteframe-z2" layout="row" layout-align="center center" flex>
        <md-toolbar class="md-primary" layout="row" layout-align="center center">
          <md-button flex>决 斗</md-button>
          <span class="right" flex>28/30<span>
        </md-toolbar>
      </md-whiteframe>
      <md-whiteframe class="md-whiteframe-z2" layout="row" layout-align="center center" flex>
        <md-toolbar class="md-primary" layout="row" layout-align="center center">
          <md-button flex>过河拆桥</md-button>
          <span class="right" flex>28/30<span>
        </md-toolbar>
      </md-whiteframe>
      <md-whiteframe class="md-whiteframe-z2" layout="row" layout-align="center center" flex>
        <md-toolbar class="md-primary" layout="row" layout-align="center center">
          <md-button flex>顺手牵羊</md-button>
          <span class="right" flex>28/30<span>
        </md-toolbar>
      </md-whiteframe>
    </div>
    <div layout="row">
      <md-whiteframe class="md-whiteframe-z2" layout="row" layout-align="center center" flex>
        <md-toolbar class="md-primary" layout="row" layout-align="center center">
          <md-button flex>万箭齐发</md-button>
          <span class="right" flex>28/30<span>
        </md-toolbar>
      </md-whiteframe>
      <md-whiteframe class="md-whiteframe-z2" layout="row" layout-align="center center" flex>
        <md-toolbar class="md-primary" layout="row" layout-align="center center">
          <md-button flex>南蛮入侵</md-button>
          <span class="right" flex>28/30<span>
        </md-toolbar>
      </md-whiteframe>
      <md-whiteframe class="md-whiteframe-z2" layout="row" layout-align="center center" flex>
        <md-toolbar class="md-primary" layout="row" layout-align="center center">
          <md-button flex>桃园结义</md-button>
          <span class="right" flex>28/30<span>
        </md-toolbar>
      </md-whiteframe>
    </div>
    <div layout="row">
      <md-whiteframe class="md-whiteframe-z2" layout="row" layout-align="center center" flex>
        <md-toolbar class="md-primary" layout="row" layout-align="center center">
          <md-button flex>无中生有</md-button>
          <span class="right" flex>28/30<span>
        </md-toolbar>
      </md-whiteframe>
      <md-whiteframe class="md-whiteframe-z2" layout="row" layout-align="center center" flex>
        <md-toolbar class="md-primary" layout="row" layout-align="center center">
          <md-button flex>五谷丰登</md-button>
          <span class="right" flex>28/30<span>
        </md-toolbar>
      </md-whiteframe>
      <md-whiteframe class="md-whiteframe-z2" layout="row" layout-align="center center" flex>
        <md-toolbar class="md-primary" layout="row" layout-align="center center">
          <md-button flex>借刀杀人</md-button>
          <span class="right" flex>28/30<span>
        </md-toolbar>
      </md-whiteframe>
    </div>
    <div layout="row">
      <md-whiteframe class="md-whiteframe-z2" layout="row" layout-align="center center" flex>
        <md-toolbar class="md-primary" layout="row" layout-align="center center">
          <md-button flex>乐不思蜀</md-button>
          <span class="right" flex>28/30<span>
        </md-toolbar>
      </md-whiteframe>
      <md-whiteframe class="md-whiteframe-z2" layout="row" layout-align="center center" flex>
        <md-toolbar class="md-primary" layout="row" layout-align="center center">
          <md-button flex>闪 电</md-button>
          <span class="right" flex>28/30<span>
        </md-toolbar>
      </md-whiteframe>
      <md-whiteframe class="md-whiteframe-z2" layout="row" layout-align="center center" flex>
        <md-toolbar class="md-primary" layout="row" layout-align="center center">
          <md-button flex>无懈可击</md-button>
          <span class="right" flex>28/30<span>
        </md-toolbar>
      </md-whiteframe>
    </div>
    <div layout="row">
      <md-whiteframe class="md-whiteframe-z2" layout="row" layout-align="center center" flex>
        <md-toolbar class="md-primary" layout="row" layout-align="center center">
          <md-button flex>火 攻</md-button>
          <span class="right" flex>28/30<span>
        </md-toolbar>
      </md-whiteframe>
      <md-whiteframe class="md-whiteframe-z2" layout="row" layout-align="center center" flex>
        <md-toolbar class="md-primary" layout="row" layout-align="center center">
          <md-button flex>兵粮寸断</md-button>
          <span class="right" flex>28/30<span>
        </md-toolbar>
      </md-whiteframe>
      <md-whiteframe class="md-whiteframe-z2" layout="row" layout-align="center center" flex>
        <md-toolbar class="md-primary" layout="row" layout-align="center center">
          <md-button flex>铁索连环</md-button>
          <span class="right" flex>28/30<span>
        </md-toolbar>
      </md-whiteframe>
    </div>
  </md-content>

  <md-button class="md-fab md-accent md-hue-1" aria-label="refresh">
    <md-icon icon="images/ic_refresh_24px.svg" style="width: 24px; height: 24px;">
    </md-icon>
  </md-button>

</div>
</body>
</html>
